name: Makefile CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Build
        run: make

      - name: Run check
        run: make check lib64=/usr/lib/x86_64-linux-gnu

      - name: Run distcheck
        run: make distcheck
